<div class="dashboard callout">

  <h1>Try these on for size.</h1>

</div>

<% current_user.company_matches.take(5).each_with_index do |c, i| %>

    <div class="row company">

      <div class="col-md-2 col-md-offset-2 graph">
        <div class="company_graph circle<%= i %>"></div>
        <span class="percentage"><%= c.percentage %>%</span>
      </div>

      <script>
          $('.circle<%= i %>').circleProgress({
              value: <%= c.percentage / 100.0 %>,
              size: 190,
              fill: {
                  color: 'rgb(237, 26, 59)'
              },
              emptyFill: '#444'
          });
      </script>

      <div class="company-meta col-md-8 <%= (i % 2 == 0) ? 'grey' : 'black' %>">
        <buttton class="pull-right btn btn-default learn-more">Learn more</buttton>
        <h1><%= c.name %></h1>
        <h2><%= c.location %></h2>
        <p><%= c.co_type %></p>
      </div>

    </div>

<% end %>

<div class="callout">

  <div class="col-md-4 col-md-offset-4">

      <button class="btn btn-default submit dashboard">More, please!</button>

  </div>

</div>