<!DOCTYPE html>
<html>
<head>
  <title>Culture Finder</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">

  <div class="row">

    <nav class="navbar navbar-default" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
        <div class="container-fluid">
          <a class="navbar-brand" href="<%= url_for root_path %>"><%= image_tag 'logo.png', width: 125 %></a>
        <!-- Brand and toggle get grouped for better mobile display -->
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                  <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
              <% else %>
                  <li><%= link_to 'Sign Up', new_user_registration_path %></li>
                  <li><%= link_to 'Login', new_user_session_path %></li>
              <% end %>
            </ul>
        </div><!-- /.container-fluid -->
    </nav>

  </div>

  <%= yield %>

</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>
